$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.container {

  .generalStats {
    margin-bottom: 60px;
  }

  .camperTypeStats {
    margin-bottom: 60px;
    border-top: 1px solid gray;
    padding-top: 30px;
  }

  h1 {
    font-size: 20px;
    font-weight: bold;

    &.headings {
      color: #777777;
      text-align: center;
      margin-bottom: 25px;
    }
  }

  h2, h3 {
    font-size: 13px;
    font-weight: bold;
  }

  .strong {
    font-weight: bold;
  }

  #totalCampers {
    background-color: #0091D7;
    display: block;
    padding: 20px;
    text-align: center;

    h2 {
      margin: 0;
      padding: 0;
      font-size: 18px;
      color: #fff;
      line-height: 25px;
    }

    .numbers {
      font-size: 75px;
      line-height: 65px;
      color: #fff;
    }
  }

  #totalMaleCampers {
    background-color: #0BA599;
    display: block;
    padding: 20px;
    text-align: center;

    h2 {
      margin: 0;
      padding: 0;
      font-size: 18px;
      color: #fff;
      line-height: 25px;
    }

    .numbers {
      font-size: 75px;
      line-height: 65px;
      color: #fff;
    }
  }

  #totalFemaleCampers {
    background-color: #F35B5A;
    display: block;
    padding: 20px;
    text-align: center;

    h2 {
      margin: 0;
      padding: 0;
      font-size: 18px;
      color: #fff;
      line-height: 25px;
    }

    .numbers {
      font-size: 75px;
      line-height: 65px;
      color: #fff;
    }
  }

  #eTeam {
    text-align: center;

    .camperTypeNumbers {
      font-size: 75px;
      color: #0091D7;
      line-height: 70px;
    }

    h3 {
      margin-top: 0px;
    }

  }

  #lTeam {
    text-align: center;

    .camperTypeNumbers {
      font-size: 75px;
      color: #0BA599;
      line-height: 70px;
    }

    h3 {
      margin-top: 0px;
    }
  }

  #eIndv {
    text-align: center;

    .camperTypeNumbers {
      font-size: 75px;
      color: #F35B5A;
      line-height: 70px;
    }

    h3 {
      margin-top: 0px;
    }
  }

  #lIndv {
    text-align: center;

    .camperTypeNumbers {
      font-size: 75px;
      color: #FFCC33;
      line-height: 70px;
    }

    h3 {
      margin-top: 0px;
    }
  }


  .camperList {
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    margin-top: 20px;

    .cmpDetails {
      display: block;
      margin: 10px 0;
    }
  }

  .adminList {
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    margin-top: 20px;

    .adminDetails {
      display: block;
      margin: 10px 0;
    }
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
}
