#campRegistrationForm {
    margin-bottom: 80px;
}

.error {
	color: red;
	border: 2px solid red;
}

.success {
	color: green;
	border: 2px solid green;
}

.errorMsg {
	color: red;
}

#payOnline p {
	color: red;
}

#registrationConfirmCheck p {
    color: green;
    margin: 0;
}

#registrationConfirm {
    z-index: 1000;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    background: #313131;
    opacity: .95;
    padding: 15px;
}

#registrationConfirmCheck {
    margin-top: 15px;
    padding: 30px 20px;
    background: lightgrey;
}

#confirmModal {
	top: 35%;
    position: fixed;
    padding: 30px;
    background: white;
    opacity: 1;
    z-index: 2000;
    height: auto;
    left: 30px;
    width: calc(100% - 60px);
}

#confirmModal form table select {
    width: 250px;
    margin: 10px 0;
}