<h1>Camper Details for {{camper.firstName}} {{camper.lastName}}</h1>

<!-- Form to edit camper details -->
<form ng-submit="processForm()" ng-controller="editCamperCtrl">
	<p class="required">* Indicates Required Filed</p>

    <div class"errorMsg" style="display:none"></div>
    <input type="hidden" name="camperId" value="{{camper.id}}">

    <p>Personal Information</p>
    <div class="form-group">
      <label for="school">School Name <em>*</em></label>
      <input type="text" id="school" name="school" class="form-control" placeholder="{{camper.school}}" required value="{{camper.school}}" ng-model="camper.school"/>
    </div>

    <div class="form-group">
      <label for="email">Email address <em>*</em></label>
      <input type="email" class="form-control" id="email" name="email" placeholder="{{camper.email}}" required value="{{camper.email}}" ng-model="camper.email"/>
    </div>

    <div class="form-group">
      <label for="firstName">First Name <em>*</em></label>
      <input type="text" id="firstName" name="firstName" class="form-control" placeholder="{{camper.firstName}}" required value="{{camper.firstName}}" ng-model="camper.firstName"/>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name <em>*</em></label>
      <input type="text" id="lastName" name="lastName" class="form-control" placeholder="{{camper.lastName}}" required value="{{camper.lastName}}" ng-model="camper.lastName"/>
    </div>

    <div class="form-group">
      <label for="address1">Address 1 <em>*</em></label>
      <input type="text" id="address1" name="address1" class="form-control" placeholder="{{camper.address1}}" required value="{{camper.address1}}" ng-model="camper.address1"/>
    </div>

    <div class="form-group">
      <label for="address2">Address 2 </label>
      <input type="text" id="address2" name="address2" class="form-control" placeholder="{{camper.address2}}" ng-model="camper.address2"/>
    </div>

    <div class="form-group">
      <label for="city">City <em>*</em></label>
      <input type="text" id="city" name="city" class="form-control" placeholder="{{camper.city}}" required value="{{camper.city}}" ng-model="camper.city"/>
    </div>
    
    <div class="form-group">
      <label for="state">Choose A State <em>*</em></label>
        <select class="form-control" name="state" id="state">
          <option value="">-- Select One --</option>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
    </div>

    <div class="form-group">
      <label for="zip">Zip Code <em>*</em></label>
      <input type="text" id="zip" name="zip" class="form-control" placeholder="{{camper.zip}}" required value="{{camper.zip}}" ng-model="camper.zip"/>
    </div>

    <div class="form-group">
      <label for="phone">Phone <em>*</em></label>
      <input type="text" id="phone" name="phone" class="form-control" placeholder="{{camper.phone}}" required value="{{camper.phone}}" ng-model="camper.phone"/>
    </div>

    <div class="form-group">
      <label for="age">Age <em>*</em></label>
      <input type="text" id="age" name="age" class="form-control" placeholder="{{camper.age}}" required value="{{camper.age}}" ng-model="camper.age"/>
    </div>

    <div class="form-group">
      <label for="gender">Choose A Gender <em>*</em></label>
        <select class="form-control" name="gender" id="gender" >
          <option value="">-- Select One --</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
    </div>

    <div class="form-group">
      <label for="grade">Grade Entering in the Fall <em>*</em></label>
        <select name="grade" id="grade" class="form-control" >
            <option value="" >-- Select One --</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
    </div>

    <div class="form-group">
      <label for="tShirtSize">Camper T-Shirt size <em>*</em></label>
        <select name="tShirtSize" id="tShirtSize" class="form-control" >
            <option value="" >-- Select One --</option>
            <option value="Extra-Small">XS</option>
            <option value="Small">S</option>
            <option value="Medium">M</option>
            <option value="Large">L</option>
            <option value="Extra-Large">XL</option>
            <option value="Double-XL">XXL</option>
        </select>
    </div>

    <div class="form-group">
      <label for="raceTime">Recent 2 mile OR 1 mile time, or training pace <em>*</em></label>
      <input type="text" id="raceTime" name="raceTime" class="form-control" placeholder="{{camper.raceTime}}" required value="{{camper.raceTime}}" ng-model="camper.raceTime"/>
    </div>

    <p>Medical Information</p>
    <div class="form-group">
		<label for="dietaryRestrictions">Please note any dietary restrictions <em>*</em></label>
		<textarea class="form-control" id="dietaryRestrictions" name="dietaryRestrictions" rows="3" required ng-model="camper.dietaryRestrictions">{{camper.dietaryRestrictions}}</textarea>
	</div>

	<p><strong>The emergency medical information MUST be completed in order to attend camp.</strong></p>

	<div class="form-group">
		<label for="emergContName">Emergency Contact Name <em>*</em></label>
		<input class="form-control" id="emergContName" name="emergContName" placeholder="Enter Emergency Contact Name" required value="{{camper.emergContName}}" ng-model="camper.emergContName"/>
	</div>

	<div class="form-group">
		<label for="emergContAddress">Emergency Contact Address <em>*</em></label>
		<input class="form-control" id="emergContAddress" name="emergContAddress" placeholder="Enter Emergency Contact Address" required value="{{camper.emergContAddress}}" ng-model="camper.emergContAddress"/>
	</div>

	<div class="form-group">
		<label for="emergContPhone">Emergency Contact Phone <em>*</em></label>
		<input class="form-control" id="emergContPhone" name="emergContPhone" placeholder="Enter Emergency Contact Phone" required value="{{camper.emergContPhone}}" ng-model="camper.emergContPhone"/>
	</div>

	<div class="form-group">
		<label for="emergContDr">Family Physician <em>*</em></label>
		<input class="form-control" id="emergContDr" name="emergContDr" placeholder="Enter Family Physician" required value="{{camper.emergContDr}}" ng-model="camper.emergContDr"/>
	</div>

	<div class="form-group">
		<label for="emergContDrPhone">Family Physician's Phone <em>*</em></label>
		<input class="form-control" id="emergContDrPhone" name="emergContDrPhone" placeholder="Enter Family Physician's Phone" required value="{{camper.emergContDrPhone}}" ng-model="camper.emergContDrPhone"/>
	</div>

	<div class="form-group">
		<label for="emergContHealthInsuranceCarrier">Health Insurance Carrier <em>*</em></label>
		<input class="form-control" id="emergContHealthInsuranceCarrier" name="emergContHealthInsuranceCarrier" placeholder="Enter Health Insurance Carrier" required value="{{camper.emergContHealthInsuranceCarrier}}" ng-model="camper.emergContHealthInsuranceCarrier"/>
	</div>

	<div class="form-group">
		<label for="emergContHealthInsurancePolicy">Health Insurance Policy No. <em>*</em></label>
		<input class="form-control" id="emergContHealthInsurancePolicy" name="emergContHealthInsurancePolicy" placeholder="Enter Health Insurance Policy No." required value="{{camper.emergContHealthInsurancePolicy}}" ng-model="camper.emergContHealthInsurancePolicy"/>
	</div>

	<div class="form-group">
		<label for="emergContConditions">Medical Conditions (if none, type "none") <em>*</em></label>
		<textarea class="form-control" id="emergContConditions" name="emergContConditions" rows="3" required ng-model="camper.emergContConditions">{{camper.emergContConditions}}</textarea>
	</div>

	<div class="form-group">
		<label for="emergContAllergies">Allergies (if none, type "none") <em>*</em></label>
		<textarea class="form-control" id="emergContAllergies" name="emergContAllergies" rows="3" required ng-model="camper.emergContAllergies">{{camper.emergContAllergies}}</textarea>
	</div>

	<div class="form-group">
		<label for="emergContMedications">Medications (if none, type "none") <em>*</em></label>
		<textarea class="form-control" id="emergContMedications" name="emergContMedications" rows="3" required ng-model="camper.emergContMedications">{{camper.emergContMedications}}</textarea>
	</div>
	
	<button type="submit" class="btn btn-default">Save</button>
</form>