<div class="row generalStats">
  <div class="col-md-12">
    <h1 class="headings">General Registration Stats</h1>
  </div>

  <div class="col-md-4">
    <div id="totalCampers">
      <div class="numbers">
        {{ campers.totalCampers }}
      </div>
      <h2>Total Campers</h2>
    </div>
  </div>

  <div class="col-md-4">
    <div id="totalMaleCampers">
      <div class="numbers">
        {{ campers.totalMaleCampers }}
      </div>
      <h2>Total Male Campers</h2>
    </div>
  </div>

  <div class="col-md-4">
    <div id="totalFemaleCampers">
      <div class="numbers">
        {{ campers.totalFemaleCampers }}
      </div>
      <h2>Total Female Campers</h2>
    </div>
  </div>
</div>

<div class="row camperTypeStats">
  <div class="col-md-12">
    <h1 class="headings">Type of Registered Campers</h1>
  </div>

  <div class="col-md-3">
    <div id="eTeam">
      <div class="camperTypeNumbers">
        {{ campers.camperTypes.earlyTeam }}
      </div>
      <h3>Early Team Registrants</h3>
    </div>
  </div>
  <div class="col-md-3">
    <div id="lTeam">
      <div class="camperTypeNumbers">
        {{ campers.camperTypes.lateTeam }}
      </div>
      <h3>Late Team Registrants</h3>
    </div>
  </div>
  <div class="col-md-3">
    <div id="eIndv">
      <div class="camperTypeNumbers">
        {{ campers.camperTypes.earlyIndiv }}
      </div>
      <h3>Early Individual Registrants</h3>
    </div>
  </div>
  <div class="col-md-3">
    <div id="lIndv">
      <div class="camperTypeNumbers">
        {{ campers.camperTypes.lateIndiv }}
      </div>
      <h3>Late Individual Registrants</h3>
    </div>
  </div>
</div>