<h1>Admin Users</h1>

<div ng-repeat="admin in administrators" class="adminList">
    <input type="hidden" name="adminId" value="{{admin.id}}">
	<p><span class="strong">Admin Name: </span>{{admin.firstName}} {{admin.lastName}}</p>

    <div ng-controller="toggleCtrl">
        <button class="btn btn-default" ng-click="toggleCustom()">View Admin Details</button>
        <div ng-hide="custom" class="adminDetails">
    	   	<!-- <p><span class="strong">Camper Type: </span>{{camper.camperType}}</p> -->
        </div>
        <span ng-show="custom"></span>
    </div>
</div>