
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.container .navbar-header p {
  padding: 15px 10px 0 10px;
  width: 200px;
  float: left;
}

.container .generalStats {
  margin-bottom: 60px;
}

.container .camperTypeStats {
  margin-bottom: 60px;
  border-top: 1px solid gray;
  padding-top: 30px;
}

.container h1 {
  font-size: 20px;
  font-weight: bold;
}

.container h1.headings {
  color: #777777;
  text-align: center;
  margin-bottom: 25px;
}

.container h2, .container h3 {
  font-size: 13px;
  font-weight: bold;
}

.container .strong {
    font-weight: bold;
  }

.container #totalCampers {
  background-color: #0091D7;
  display: block;
  padding: 20px;
  text-align: center;
}

.container #totalCampers h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #fff;
  line-height: 25px;
}

.container #totalCampers .numbers {
  font-size: 75px;
  line-height: 65px;
  color: #fff;
}

.container #totalMaleCampers {
  background-color: #0BA599;
  display: block;
  padding: 20px;
  text-align: center;
}

.container #totalMaleCampers h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #fff;
  line-height: 25px;
}

.container #totalMaleCampers .numbers {
  font-size: 75px;
  line-height: 65px;
  color: #fff;
}

.container #totalFemaleCampers {
  background-color: #F35B5A;
  display: block;
  padding: 20px;
  text-align: center;
}

.container #totalFemaleCampers h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #fff;
  line-height: 25px;
}

.container #totalFemaleCampers .numbers {
  font-size: 75px;
  line-height: 65px;
  color: #fff;
}

.container #eTeam {
  text-align: center;
}

.container #eTeam .camperTypeNumbers {
  font-size: 75px;
  color: #0091D7;
  line-height: 70px;
}

.container #eTeam h3 {
  margin-top: 0px;
}

.container #lTeam {
  text-align: center;
}

.container #lTeam .camperTypeNumbers {
  font-size: 75px;
  color: #0BA599;
  line-height: 70px;
}

.container #lTeam h3 {
  margin-top: 0px;
}

.container #eIndv {
  text-align: center;
}

.container #eIndv .camperTypeNumbers {
  font-size: 75px;
  color: #F35B5A;
  line-height: 70px;
}

.container #eIndv h3 {
  margin-top: 0px;
}

.container #lIndv {
  text-align: center;
}

.container #lIndv .camperTypeNumbers {
  font-size: 75px;
  color: #FFCC33;
  line-height: 70px;
}

.container #lIndv h3 {
  margin-top: 0px;
}


.container .camperList {
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
  margin-top: 20px;
}

.container .camperList .cmpDetails {
  display: block;
  margin: 10px 0;
}

.container .adminList {
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
  margin-top: 20px;
}

.container .adminList .adminDetails {
  display: block;
  margin: 10px 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.container .campDetails table.tg tbody tr th {
  padding: 5px 28px 5px 0;
}

.container .campDetails table.tg tbody tr td {
    padding: 5px 28px 5px 0;
}

/* Supporting marketing content */
/*.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}*/

/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {
  
}*/
