<h1>Myers Running Camp Budget Details</h1>

<div class="campDetails">
<table class="tg">
  <tr>
    <th class="tg-yw4l">Camper Type</th>
    <th class="tg-yw4l">Camper Type Cost</th>
    <th class="tg-yw4l">Camer Type Numbers</th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l">Totals</th>
  </tr>
  <tr>
    <td class="tg-yw4l">Early Individual</td>
    <td class="tg-yw4l">$270</td>
    <td class="tg-yw4l">{{ campdetails.camperTypes.earlyIndiv }}</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">${{ campdetails.campData.tAmountEarlyIndv }}</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Late Individual</td>
    <td class="tg-yw4l">$295</td>
    <td class="tg-yw4l">{{ campdetails.camperTypes.lateIndiv }}</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">${{ campdetails.campData.tAmountLateIndv }}</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Early Team</td>
    <td class="tg-yw4l">$250</td>
    <td class="tg-yw4l">{{ campdetails.camperTypes.earlyTeam }}</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">${{ campdetails.campData.tAmountEarlyTeam }}</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Late Team</td>
    <td class="tg-yw4l">$275</td>
    <td class="tg-yw4l">{{ campdetails.camperTypes.lateTeam }}</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">${{ campdetails.campData.tAmountLateTeam }}</td>
  </tr>

  <tr>
    <th class="tg-yw4l">Donations</th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l"></th>
  </tr>
  <tr>
    <td class="tg-yw4l">Coughlin Auto</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">$500</td>
  </tr>

  <tr>
    <th class="tg-yw4l">Total Income</th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l">${{ campdetails.campData.totalIncomeFromCampers }}</th>
  </tr>

  <tr>
    <th class="tg-yw4l">Expense Name</th>
    <th class="tg-yw4l">Number</th>
    <th class="tg-yw4l">Quantity</th>
    <th class="tg-yw4l">Cost</th>
    <th class="tg-yw4l">Total Cost</th>
  </tr>
  <tr>
    <td class="tg-yw4l">Lodging</td>
    <td class="tg-yw4l">3</td>
    <td class="tg-yw4l">{{ campdetails.campData.expenses.lodgingQuantity }}</td>
    <td class="tg-yw4l">${{ campdetails.campData.expenses.lodgingCosts }}</td>
    <td class="tg-yw4l">${{ campdetails.campData.expenses.lodging }}</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Food Costs</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">${{ campdetails.campData.expenses.foodCosts }}</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Diner</td>
    <td class="tg-yw4l">3</td>
    <td class="tg-yw4l">{{ campdetails.campData.expenses.dinerQuantity }}</td>
    <td class="tg-yw4l">${{ campdetails.campData.expenses.dinerCosts }}</td>
    <td class="tg-yw4l">${{ campdetails.campData.expenses.diner }}</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Gatorade</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">${{ campdetails.campData.expenses.gatorade }}</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Speakers</td>
    <td class="tg-yw4l">1</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">${{ campdetails.campData.expenses.speakers }}</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Water Bottles</td>
    <td class="tg-yw4l">1</td>
    <td class="tg-yw4l">{{ campdetails.campData.expenses.wBottleQuantity }}</td>
    <td class="tg-yw4l">${{ campdetails.campData.expenses.wBottleCosts }}</td>
    <td class="tg-yw4l">${{ campdetails.campData.expenses.waterBottles }}</td>
  </tr>
  <tr>
    <td class="tg-yw4l">T-Shirts</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">${{ campdetails.campData.expenses.tShirts }}</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Pool</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">${{ campdetails.campData.expenses.pool }}</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Road Signs</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">${{ campdetails.campData.expenses.roadSigns }}</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Supplies</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">${{ campdetails.campData.expenses.supplies }}</td>
  </tr>
  <tr>
    <th class="tg-yw4l">Total Expenses</th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l">${{ campdetails.campData.expenses.totalExpenses }}</th>
  </tr>

   <tr>
    <th class="tg-yw4l">Salaries</th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l">Total Salaries</th>
  </tr>
  <tr>
    <td class="tg-yw4l">Head Counselor</td>
    <td class="tg-yw4l">1</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">${{ campdetails.campData.salaries.headCounselorSlry }}</td>
  </tr>
  <tr>
    <th class="tg-yw4l">Total Salaries</th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l">${{ campdetails.campData.salaries.totalSalaries }}</th>
  </tr>

  <tr>
    <th class="tg-yw4l">Total Overal Income</th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l">${{ campdetails.campData.totalOverallIncome }}</th>
  </tr>
</table>
</div>