<h1>Registered Female Campers</h1>
<button class="btn btn-success" ng-click="go('/')"><-- Back</button>

<div ng-repeat="camper in allFemaleCampers" class="camperList">
    <input type="hidden" name="camperId" value="{{camper.id}}">
	<p>
		<span class="strong">Camper Name: </span>{{camper.firstName}} {{camper.lastName}}<br>
    </p>

    <div ng-controller="toggleCtrl">
        <button class="btn btn-info" ng-click="toggleCustom()">View Camper Details</button>
        <div ng-hide="custom" class="cmpDetails">
    	   	<p><span class="strong">Camper Type: </span>{{camper.registeringAs}}</p>
    	   	<p><span class="strong">Address: </span>{{camper.address1}} {{camper.city}}, {{camper.state}}, {{camper.zip}}</p>
    	   	<p><span class="strong">School: </span>{{camper.school}}</p>
    	   	<p><span class="strong">Date Registered: </span>{{camper.timeSubmitted}}</p>
        	<p><span class="strong">Registering As: </span>{{camper.registeringAs}}</p>
        	<p><span class="strong">Grade: </span>{{camper.grade}}</p>
        	<p><span class="strong">Gender: </span>{{camper.gender}}</p>
        	<p><span class="strong">Age: </span>{{camper.age}}</p>
        	<p><span class="strong">Phone: </span>{{camper.phone}}</p>
        	<p><span class="strong">Email: </span>{{camper.email}}</p>
        	<p><span class="strong">Payment Type: </span>{{camper.paymentType}}</p>
        	<p><span class="strong">Race Time: </span>{{camper.raceTime}}</p>
        	<p><span class="strong">T-Shirt Size: </span>{{camper.tShirtSize}}</p>
        	<p><span class="strong">Dietary Restrictions: </span>{{camper.dietaryRestrictions}}</p>
        	<p><span class="strong">Medical Conditions: </span>{{camper.emergContConditions}}</p>
        	<p><span class="strong">Alergies: </span>{{camper.emergContConsentName}}</p>
        	<p><span class="strong">Medications: </span>{{camper.emergContMedications}}</p>
        	<p><span class="strong">Alergies: </span>{{camper.emergContConsentName}}</p>
        </div>
        <!-- <a ng-href="#/editCamper/:{{camper.id}}" class="btn btn-default">Edit Camper</a> -->
        <span ng-show="custom"></span>
    </div>

</div>